@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
}

@theme {
  --color-primary: #3498db;
  --color-primary-hover: #2c80b4;
  --color-border-primary: #05588e1f;
  --color-text-base: #05162a;
  --color-text-muted: #758599;
}


/* Custom scrollbar styling */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #d6d6d6; /* Tailwind primary blue */
  border-radius: 9999px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: #f3f4f6;
}
.scrollbar-thin:hover::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
}
