@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
}

@theme {
  --color-primary: #3498db;
  --color-primary-hover: #2c80b4;
  --color-border-primary: #05588e1f;
  --color-text-base: #05162a;
  --color-text-muted: #758599;
}
